*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #D5EFF8;
    overflow:hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#kami-test{
    position: absolute;
    z-index: 3;
    width: 11vw;
    bottom:0;
    left: 48.8%;
    opacity: 1;
    display: none;
    animation: fade-in 2s forwards, scale-up .7s 11.0000000001s forwards;
}


#intro-ground{
    width:100vw;
    position:absolute;
    bottom: 0;
    left:0;
    z-index: 1;
}

#intro-fumes{
    width:150px;
    position:absolute;
    top:60vh;
    animation: intro-fly 5s linear forwards,intro-rotate 5s linear forwards;
}
#intro-button{
    width:150px;
    position: absolute;
    top:60vh;
    left: calc(110% - 150px);z-index: 1;
    animation: intro-push 5s linear forwards;
}

#intro-button:hover{
    cursor: pointer;
}

#intro-hello{
    position: absolute;
    left:7vw;
    top:35vh;
    width: 350px;
    animation: fade-in 4s 1s forwards;
    opacity: 0;
}

.scaleUp{
    transform: scale(1);
    animation: scale-up 1s forwards;
}
/* animations */

@keyframes intro-fly {
    0%{
        left: -10%;
        z-index: 0;
    }
    50%{
        left: 110%;
        z-index: 0;
    }
    90%{
        left:85%;
        z-index: 2;
    }
    100%{
        left:115%;
        z-index: 2;
    }
}
@keyframes intro-rotate {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(0deg);
    }
    51%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(180deg);
    }
}

@keyframes intro-push{
    0%{
        left: calc(110% - 150px);
    }
    50%{
        left: calc(110% - 150px);
    }
    90%{
        left: calc(85% - 150px);
    }
    100%{
        left: calc(85% - 150px);
    }
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes scale-up{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(100)
    }
}