*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #D5EFF8;
    overflow:hidden;
    font-family: 'pixelify sans', sans-serif;
}

.displayName{
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
}
.displayFeeling{
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}


#nameInput{
    background-color: #D5EFF8;
    border: none;
    border-bottom: 3px solid black;
    height: 30px;
    margin-left: 20px;
    width: 200px;
    font-size: 32px;
    font-family: 'pixelify sans';
    text-align: center;
}
.feelingLabel{
    border: 3px solid black;
    padding: 10px 40px;
    border-radius: 25px;
}
.selected{
    background-color: black;
}
.feelingLabel:hover{
    background-color: white;
    cursor: pointer;
}
.selected:hover{
    background-color: black;
}
#strong{
    display: none;
}
#creative{
    display: none;
}
#kind{
    display: none;
}
#submitInput{
    position: absolute;
    bottom: 40px;
    right: 60px;
    background-color: white;
    color: black;
    font-family: 'pixelify sans', sans-serif;
    font-size: 20px;
    padding: 25px;
    border-radius: 50px;
}
#submitInput:hover{
    background-color:black;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.fillAbsolute{
    position:absolute;
    bottom:0;
    width:40vw;
    left:50%;
    transform: translateX(-50%);
}

.onlineBoard{
    position: absolute;
    right: 50px;
    top:10px;
    background-color:rgba(255,100,255,0.7) ;
    border: 1px solid rgb(25, 0, 116);
    color:rgb(0, 0, 0);  
    min-width: 10vw;
    padding: 10px 30px;
}

.dialogueModal{
    position:absolute;
    bottom: 150px;
    left:50%;
    transform: translateX(-50%);
    width:500px;
    height:200px;
    padding:20px;
    background-color: #efefef;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.pressF{
    position: absolute;
    bottom: 50px;
    right:100px;
    width: 600px
}

#kami-test{
    position: absolute;
    z-index: 3;
    width: 11vw;
    bottom:0;
    left: 48.8%;
    opacity: 1;
    display: none;
    animation: fade-in 2s forwards, scale-down .9s 11.0000000001s forwards;
}


#intro-ground{
    width:100vw;
    position:absolute;
    bottom: 0;
    left:0;
    z-index: 1;
    transform-origin: center;
}

#intro-fumes{
    width:150px;
    position:absolute;
    top:60vh;
    animation: intro-fly 5s linear forwards,intro-rotate 5s linear forwards;
}
#intro-button{
    width:150px;
    position: absolute;
    top:60vh;
    left: calc(110% - 150px);z-index: 1;
    animation: intro-push 5s linear forwards;
}

#intro-button:hover{
    cursor: pointer;
}

#intro-hello{
    position: absolute;
    left:7vw;
    top:35vh;
    width: 350px;
    animation: fade-in 4s 1s forwards;
    opacity: 0;
}

.fadeOut{
    animation: fade-in .9s 11.0000000001s reverse;
}

/* animations */

@keyframes intro-fly {
    0%{
        left: -10%;
        z-index: 0;
    }
    50%{
        left: 110%;
        z-index: 0;
    }
    90%{
        left:85%;
        z-index: 2;
    }
    100%{
        left:115%;
        z-index: 2;
    }
}
@keyframes intro-rotate {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(0deg);
    }
    51%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(180deg);
    }
}

@keyframes intro-push{
    0%{
        left: calc(110% - 150px);
    }
    50%{
        left: calc(110% - 150px);
    }
    90%{
        left: calc(85% - 150px);
    }
    100%{
        left: calc(85% - 150px);
    }
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes scale-down{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(.01)
    }
}
@keyframes scale-up{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(100)
    }
}